/* PHASE 2: Notifications */
.badge {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.header-list {
  position: relative;
}

.badge[:hover] {
  display: show;
}